<button class="btn btn-primary" [disabled]="!allowNewServer" >Add server</button>

<!-- [] enclose tag properties for Angular to recognise -->
<!-- () enclose Angular bound events -->
<!-- {{}} enclose string objects -->

<hr>

<button class="btn btn-outline-primary" (click)="onCreateServer()">Add server</button>

<p>{{serverCreationStatus}}</p>

<hr>

<app-server></app-server>

<label>Input some text:</label>
<!-- $event is reserved word and used a argument token -->
<input type="text" class="form-control" (input)="onTypeText($event)">
<p>{{ inputText }}</p>

<app-server></app-server>